<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
	<Properties>
		<Property name="loglayout">%d{ISO8601} %-5level[%t] %C{1.}: %x %msg%n%throwable</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${loglayout}" />
		</Console>

		<RollingFile name="RollingFile"
			fileName="./logs/opemane.log"
			filePattern="./logs/$${date:yyyy-MM}/opemane-%d{-dd-MMMM-yyyy}-%i.log.gz">
			<PatternLayout pattern="${loglayout}" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
		<RollingFile name="RollingErrorFile"
			fileName="./logs/opemane-error.log"
			filePattern="./logs/$${date:yyyy-MM}/opemane-error-%d{-dd-MMMM-yyyy}-%i.log.gz">
			<PatternLayout pattern="${loglayout}" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
			<AppenderRef level="error" ref="RollingErrorFile" />
		</Root>
	</Loggers>

</Configuration>